.banner {
  object-fit: contain;
  height: 445px;
}
.banner-content {
  height: 190px;
  padding-top: 150px;
  color: #fff;
  font-family: sans-serif;
}
.banner-title {
  margin-left: 20px;
  font-size: 35px;
  margin-bottom: 30px;
  text-shadow: #000000 5px 5px 10px;
}
.banner-btn {
  margin-left: 20px;
  font-size: 15px;
  color: #ffffffe7;
  border: none;
  height: 30px;
  width: 80px;
  margin-right: 10px;
  border-radius: 3px;
  background-color: #ffffff28;
}
.banner-btn:hover {
  color: #000;
  background-color: #ffffffcc;
  transform: scale(1.1);
}
.banner-dis {
  margin-left: 20px;
  margin-top: 30px;
  max-width: 400px;
  font-size: 15px;
  font-weight: 400;
}
.banner-shadow {
  height: 7rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}
